<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
		  xmlns:tools="http://schemas.android.com/tools" android:versionCode="1" android:versionName="1.31" package="br.com.sacfiscal.pdvdroidelgin" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="30" />
	
	<application android:label="PDV Android - Xamarin" 
				 android:theme="@style/MainTheme" 
				 tools:replace="android:theme,android:label,android:icon">
	</application>
	
	<uses-feature android:name="android.hardware.usb.host" />
	
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.FLASHLIGHT" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
</manifest>